#portfolio{
    margin: 2px;
    background: rgba(148, 85, 106, 0.452);

    padding: 10px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 20px;

}
.portfolio-container .p-list{
    list-style: none;
    padding: 10px;
    display: grid;
  grid-template-columns: repeat(4,1fr);
  
    
}
.portfolio-container .p-list .list-item{
    background: #c48e3e8a;
    border: 5px salmon;
    margin: 2px;
    display: grid;
    place-items: center;
    padding: 20px;
}

.members{
    min-height:60vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.portfolio-container .p-list .list-item-active{
    background: #80302c9d;
    border: 2px solid rgba(170, 28, 28, 0.74);
    font-weight: 500;
    
}
.portfolio-container .p-list .list-item:hover{
    background: #4e1d1ac5;
}

