#portfolio{
    margin: 2px;
    background: rgba(148, 85, 106, 0.452);
    border-radius: 10px;
    padding: 10px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 20px;

}
.portfolio-container .p-list{
    list-style: none;
    padding: 10px;
    display: grid;
  grid-template-columns: repeat(4,1fr);
  
    
}
.portfolio-container .p-list .list-item{
    background: #fdfdfcd2;
    border: 5px rgb(236, 158, 158);
    margin: 2px;
    display: grid;
    place-items: center;
    padding: 20px;
    border-radius: 10px;
}

.members{
    min-height:60vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 10px;
}
.portfolio-container .p-list .list-item-active{
    background: #e67873c9;
    border: 2px solid rgba(170, 28, 28, 0.74);
    font-weight: 500;
    border-radius: 10px;
    
}
.portfolio-container .p-list .list-item:hover{
    background: rgba(223, 106, 100, 0.89);
}

